<div id="login-box" class="col-md-4 col-md-offset-4">
    <div id="login-logo-box" class="row">
        <a href="/" class="col-xs-12 text-center" id="login-logo">Novus<span>bet</span></a>
    </div>
    <div class="login-box" ng-if="$ctrl.showLoginForm">
        <div class="login-box-body">
            <h4 class="login-box-msg text-center">Login</h4>

            <form id="loginForm" novalidate="novalidate" ng-submit="$ctrl.login()">
                <div class="form-group has-feedback">
                    <label class="animated fadeInUp" ng-show="$ctrl.loginModel.email">Email</label>
                    <input type="email" class="form-control" placeholder="Email" ng-model="$ctrl.loginModel.email"
                           ng-model-options="{allowInvalid: true}" required>
                </div>
                <div class="form-group has-feedback">
                    <label class="animated fadeInUp" ng-show="$ctrl.loginModel.password">Senha</label>
                    <input type="password" class="form-control" placeholder="Senha" ng-model="$ctrl.loginModel.password" required>
                </div>
                <div class="row">
                    <div class="col-xs-4 pull-right">
                        <button type="submit" class="btn btn-primary btn-block btn-flat" ladda="$ctrl.isLoggingIn">Entrar</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            <div class="social-auth-links text-center">
                <p> - OU -</p>
                <a href="auth/facebook" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Entrar com facebook</a>
                <a href="auth/google" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google"></i> Entrar com Google+</a>
            </div>
            <!-- /.social-auth-links -->

            <a href="#">Esqueci a senha</a><br>
            <a href="#" class="text-center" ng-click="$ctrl.showLoginForm = !$ctrl.showLoginForm">Fazer Cadastro</a>

        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
    <div class="register-box-body" ng-if="!$ctrl.showLoginForm">
        <h4 class="login-box-msg text-center">Fazer cadastro</h4>

        <form id="signupForm" name="signupForm" novalidate="novalidate" ng-submit="$ctrl.signup()">
            <div class="form-group has-feedback">
                <label class="animated fadeInUp" ng-show="$ctrl.signupModel.email">Email</label>
                <input type="email" class="form-control" placeholder="Email" ng-model="$ctrl.signupModel.email" 
                       ng-model-options='{updateOn: blur, debounce: 0, allowInvalid: true}' required unique-email-checker>
            </div>
            <div class="form-group has-feedback">
                <label class="animated fadeInUp" ng-show="$ctrl.signupModel.password">Senha</label>
                <input type="password" class="form-control" placeholder="Senha" ng-model="$ctrl.signupModel.password" 
                       ng-minlength="6" ng-maxlength="30" ng-model-options="{allowInvalid: true}" required >
            </div>
            <div class="form-group has-feedback">
                <label class="animated fadeInUp" ng-show="$ctrl.signupModel.confirmPassword">Confirme a senha</label>
                <input type="password" class="form-control" placeholder="Confirme a senha" ng-model="$ctrl.signupModel.confirmPassword" ng-minlength="6" 
                       ng-maxlength="30" ng-model-options="{allowInvalid: true}" confirm-password="$ctrl.signupModel.password" required>
            </div>
            <div class="row">
                <div class="col-xs-4 pull-right">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Cadastrar</button>
                </div>
                <!-- /.col -->
            </div>
        </form>

        <div class="social-auth-links text-center">
            <p> - OU -</p>
            <a href="auth/facebook" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Entrar com facebook</a>
            <a href="auth/google" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google"></i> Entrar com Google+</a>
        </div>

        <a href="#" class="text-center" ng-click="$ctrl.showLoginForm = !$ctrl.showLoginForm">Já sou cadastrado</a>
    </div>
</div>