<div class="login-box">
    <div class="login-box-body">
        <p class="login-box-msg">Login</p>

        <form id="loginForm" novalidate="novalidate" ng-submit="ctrl.login()">
            <div class="form-group has-feedback">
                <input type="email" class="form-control" placeholder="Email" ng-model="ctrl.loginModel.email"
                       ng-model-options="{allowInvalid: true}" required>
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="Password" ng-model="ctrl.loginModel.password" required>
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <!--                <div class="col-xs-8">
                                    <div class="checkbox icheck">
                                        <label>
                                            <input type="checkbox"> Remember Me
                                        </label>
                                    </div>
                                </div>-->
                <!-- /.col -->
                <div class="col-xs-4 pull-right">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Entrar</button>
                </div>
                <!-- /.col -->
            </div>
        </form>

        <div class="social-auth-links text-center">
            <p> - OU -</p>
            <a href="auth/facebook" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Entrar com facebook</a>
            <a href="auth/google" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google"></i> Entrar com Google+</a>
        </div>
        <!-- /.social-auth-links -->

        <a href="#">Esqueci a senha</a><br>
        <a href="#" class="text-center" ng-click="ctrl.showLoginForm = !ctrl.showLoginForm">Fazer Cadastro</a>

    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->