<div>
    <h2>Resultados</h2>
    {{$ctrl.test}}
    <!--    <form class="col-md-6 form-horizontal">
        <div class="form-group">
            <input class="form-control" placeholder="Placeholder">
        </div>
        <div class="form-group">
            <input class="form-control" placeholder="Placeholder">
        </div>
        <div class="form-group">
            <input class="form-control" placeholder="Placeholder">
        </div>
        <div class="form-group">
            <input class="form-control" placeholder="Placeholder">
        </div>
        <div class="form-group">
            <input class="form-control" placeholder="Placeholder">
        </div>
    </form>-->
</div>