<div class="">

    <div id="wrapper" class="col-md-4 col-md-offset-4">
        <div id="login" class="animated fadeInLeft" ng-show="!animatedLogin">
            s<form ovalidate="novalidate" ng-submit="login()">
                <h2 class="text-center">Login</h2>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email" id="email" ng-model="ctrl.loginModel.email" required />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Senha" id="password" ng-model="ctrl.loginModel.password" required />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-lg pull-right" id="loginButton">Login <span class="fa fa-sign-in"></span></button>
                    <a class="reset_pass" href="#">Esqueceu a senha?</a>
                </div>
                <div class="clearfix"></div>
                <div class="separator">
                    <p class="change_link" ng-click="animatedLogin = !animatedLogin">Novo por aqui?
                        <a> Criar conta </a>
                    </p>
                </div>
            </form>
            <!-- form -->
        </div>
        <div id="register" class="animated fadeInLeft" ng-show="animatedLogin">

            <form>
                <h2 class="text-center">Criar Conta</h2>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username" required="" />
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email" required="" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" required="" />
                </div>
                <div>
                    <a class="btn btn-default submit" href="index.html">Cadastrar</a>
                </div>
                <div class="clearfix"></div>
                <div class="separator">

                    <p class="change_link" ng-click="animatedLogin = !animatedLogin">Já cadastrado ?
                        <a>Entrar</a>
                    </p>
                </div>
            </form>
            <!-- form -->
        </div>
    </div>
</div>