<div class="row" id="loginSignup">
    <form id="loginForm" class="col-xs-12 col-md-6 loginSignupForm" ovalidate="novalidate" ng-submit="login()">
        <h3>Login</h3>
        <div class="form-group">
            <label for="email">Email: </label>
            <input type="email" class="form-control input-lg" id="email" ng-model="loginCredentials.username" required/>
        </div>
        <div class="form-group">
            <label for="password">Senha: </label>
            <input type="password" class="form-control input-lg" id="password" ng-model="loginCredentials.password" required/>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-lg pull-right">Login <span class="fa fa-sign-in"></span></button>
        </div>
        <div id="social-butons" class="row">
            <p id="sign-in-with">Entrar com :</p>
            <a href="auth/facebook" class="btn social social3x facebook">
                <i class="fa fa-facebook fa-3x"></i>       
            </a>
            <a href="auth/google" class="btn social social3x google-plus">
                <i class="fa fa-google-plus fa-3x"></i>
            </a>
        </div>
    </form>
    <form id="signupForm" name="signupForm" class="col-xs-12 col-md-6 loginSignupForm" novalidate="novalidate" ng-submit="signup()">
        <h3>Cadastre-se</h3>
        <div class="form-group">
            <label for="emailSignup">Email: </label>
            <input type="email" class="form-control input-lg" id="emailSignup" ng-model="signupModel.email" 
                   ng-model-options='{updateOn: blur}' required unique-email-checker/>
        </div>
        <div class="form-group">
            <label for="passwordSignup">Senha: </label>
            <input type="password" class="form-control input-lg" id="passwordSignup" ng-model="signupModel.password" ng-minlength="6" 
                   ng-maxlength="30" required />
        </div>
        <div class="form-group">
            <label for="passwordConfirmSignup">Confirme a senha: </label>
            <input type="password" class="form-control input-lg" id="passwordConfirmSignup" ng-model="signupModel.confirmPassword" ng-minlength="6" 
                   ng-maxlength="30" confirm-password="signupModel.password" required />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg pull-right" ng-disabled="signupForm.$invalid" 
                    ng-class="signupForm.$invalid ? 'disabled' : ''">Cadastrar</button>
        </div>
        {{signupForm.$invalid}}
    </form>
</div>        
<button ng-click="logout()">Logout</button>