#login-box{
    background-color: #F7F7F7;
    margin-top: 5%;
}

#login-logo-box{
    height: 50px;
}

#login-logo{
    font-weight: bold;
    margin-top: 10px;
    font-size: 22px;
}

#login-logo span{
    font-weight: normal;
}

.login-box-msg{
    margin-bottom: 20px;
}

.social-auth-links {
    margin-bottom: 10px;
}
